<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body class="container">
    <h3>中餐厅员工如下：</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>名称</th>
                <th>职位</th>
            </tr>
        </thead>
        <thead>
            <tr th:each="guest:${guestList}">
                <td th:text="${guest.name}">名称</td>
                <td th:text="${guest.role}">角色</td>
            </tr>
        </thead>
    </table>
    <div class="form-group">
        <div class="col-sm-2 control-label">
            <a href="/guest/toAdd" th:href="@{/guest/toAdd}" class="btn btn-info">添加</a>
        </div>
    </div>
</body>

</html>
